html{
    background-color: floralwhite;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: cornflowerblue;
}

li {
    float: left;
    border-right: 1px solid white;
    font-family: 'Open Sans', sans-serif;
}

li a {
    color: white;
    background-color: mediumseagreen;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: khaki; 
}

.active {
    background-color: salmon;
}

li:last-child {
    border-right: none;
    border-left: 1px solid white;
}

#progressBar{
    margin: auto;
    width: 160px;
    padding: 10px;
}

p{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

h4{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.center{
    margin: auto;
    width: 50%;
    padding: 10px;
}

#searchInput {
    background-color: cornflowerblue;
    width: 100%; 
    font-size: 16px;
    padding: 14px 20px 14px 40px;
    border: none;
    color: white;
}

::placeholder {
    color: white;
    opacity: 1;
}

#searchOptions {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
}

#searchOptions li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

#searchOptions li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}