html{
    background-color: white;
}

#navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: cornflowerblue;
}

#navbar li{
    float: left;
    border-right: 1px solid white;
    font-family: 'Open Sans', sans-serif;
}

h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: dimgray;
    position: absolute;
    top: 50px;
    font-size: 40px;
}

.infoParagraph{
    position: absolute;
    top: 105px;
    left: 0px;
    z-index: -1;
    font-family: 'Roboto', sans-serif;
    color: dimgray;
}

h3{
    font-family: 'Roboto', sans-serif;
    color: dimgray;
    position: absolute;
    top: 175px;
    left: 30px;
    z-index: -1;
    font-size: 20px;
}

.topBuffer{
    margin-top: 30px;
}

.teamMembers ul{
    font-size: 15px;
    position: absolute;
    left: 26.7%;
    top: 220px;
}

.license{
    position: absolute;
    top: 500px;
    text-align: center;
    left: 30%
}

#navbar li a{
    color: white;
    background-color: mediumseagreen;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li a:hover{
    background-color: khaki; 
}

li a:hover{
    background-color: khaki; 
}

.active{
    background-color: salmon;
}

li:last-child{
    border-right: none;
    border-left: 1px solid white;
}

#progressBar{
    margin: auto;
    width: 160px;
    padding: 10px;
}

p{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

h4{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.center{
    width: 50%;
    left: 25%;
    right: 25%;
}

#searchInput{
    background-color: cornflowerblue;
    width: 100%; 
    font-size: 16px;
    padding: 14px 20px 14px 40px;
    border: none;
    color: white;
}

#searchOptions{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#searchOptions li a{
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-top: -4px;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
}
.teamMembers {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    color: dimgray;
    left: 30%
}
.hidden{
    display: none;
    border: -4px;
    margin: -4px;
    padding: -4px;
    position: absolute;
	left: -1000px;
    transform: scale(0);
}

.informationParagraph{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: salmon;
    position: absolute;
    top: 140px;
    height: 0; 
    overflow: hidden;
}

.searchDiv{
    display: relative;  
    z-index: 1;
}